<article class="post">
    <div class="title">
        <a href="/post/{{id}}">{{title}}</a>
    </div>
    <div>
        <p>{{post_text}}</p>
    </div>
    <div class="meta">
        <a class="comment-button" href="/post/{{id}}">{{comments.length}} {{format_plural "comment"
            comments.length}}</a>
    </div>
</article>